<!doctype html>
<html lang="en">
  <head>
  	<title>Table 05</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="static/css/style.css">
	
	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8 text-center mb-5">
				<form id="csvupload" method = "post" enctype="multipart/form-data" onsubmit="csvUP();return false;">  
				  <!--<h2 class="heading-section">Add ASIN</h2>-->
				  <div class="row">
			      <div class="form-group" style="display: flex;flex-direction: row;">
			        <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-mdb-toggle="dropdown" aria-expanded="false">DataFrame</button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="dfDD">
                    <li>
                      <a class="dropdown-item" href="#">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="allSelections" />
                          <label class="form-check-label" for="Checkme4">Select All</label>
                        </div>
                      </a>
                    </li>
                    <li><hr class="dropdown-divider" /></li>
                    <li>
                        <a class="dropdown-item" href="#">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Database" />
                                <label class="form-check-label" for="Checkme1">Database</label>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="TMatches" />
                                <label class="form-check-label" for="Checkme2">Today's Matches</label>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="UpEvents" />
                                <label class="form-check-label" for="Checkme3">Upcoming Events</label>
                            </div>
                        </a>
                    </li>
                </ul>
              </div>
			        <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton2" data-mdb-toggle="dropdown" aria-expanded="false">Country Selection</button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="countryDD">
                    <li>
                        <a class="dropdown-item" href="#">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="allSelections" />
                                <label class="form-check-label" for="Checkme4">Select All</label>
                            </div>
                        </a>
                    </li>
                    <li><hr class="dropdown-divider" /></li>
                  {% for item in data %}
                    <li>
                      <a class="dropdown-item" href="#">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="{{item}}" />
                          <label class="form-check-label" for="Checkme1">{{item}}</label>
                        </div>
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
              <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton3" data-mdb-toggle="dropdown" aria-expanded="false">League Selection</button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="leagueDD">

                </ul>
              </div>
              <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton4" data-mdb-toggle="dropdown" aria-expanded="false">Season Selection</button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li>
                        <a class="dropdown-item" href="#">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" />
                                <label class="form-check-label" for="Checkme1">Check me</label>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" />
                                <label class="form-check-label" for="Checkme2">Check me</label>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" />
                                <label class="form-check-label" for="Checkme3">Check me</label>
                            </div>
                        </a>
                    </li>
                    <li><hr class="dropdown-divider" /></li>
                    <li>
                        <a class="dropdown-item" href="#">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="allSelections" />
                                <label class="form-check-label" for="Checkme4">Select All</label>
                            </div>
                        </a>
                    </li>
                </ul>
              </div>
              <!--<div class="range_container">
                  <div class="sliders_control">
                      <input id="fromSlider" type="range" value="10" min="0" max="100"/>
                      <input id="toSlider" type="range" value="40" min="0" max="100"/>
                  </div>
                  <div class="">
                      <div class="">
                          <div class="form_control_container__time">Min</div>
                          <input class="form_control_container__time__input" type="number" id="fromInput" value="10" min="0" max="100"/>
                      </div>
                      <div class="form_control_container">
                          <div class="form_control_container__time">Max</div>
                          <input class="form_control_container__time__input" type="number" id="toInput" value="40" min="0" max="100"/>
                      </div>
                  </div>
              </div>-->
			        <button type="submit" style="margin-left: 10px;" class="btn btn-sm btn-primary">Submit</button>
			      </div>
					</div>
					<!--<span class="">Submit</span>-->
				</form> 
				<br>
				<input placeholder="Search" type="text" class="form-control" name="asin">
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
<!--				  <button id="start" class="btn btn-sm btn-success">START SCRAPING</button>
				  <button id="clear" class="btn btn-sm btn-danger">DELETE DB</button>-->
					<div class="table-wrap">
						<table class="table table-responsive-xl">
						  <thead>
						    <tr>
						    	<th>SL. No<a href="#" id="slSort" class="sorting"><i class="fa fa-fw fa-sort"></i></a> </th>
						    	<th>Country<a href="#" id="asinSort" class="sorting"><i class="fa fa-fw fa-sort"></i></a></th>
						      <th>Race URL<a href="#" id="statusSort" class="sorting"><i class="fa fa-fw fa-sort"></i></a></th>
						      <th>1X2<a href="#" id="lastScrapSort" class="sorting"><i class="fa fa-fw fa-sort"></i></a></th>
						      <th>Asian Handicap<a href="#" id="scrapeSsort" class="sorting"> <i class="fa fa-fw fa-sort"></i></a></th>
						      <th>BTTS<a href="#" id="deliverySort" class="sorting"> <i class="fa fa-fw fa-sort"></i></a></th>
						      <th>Over/Under<a href="#" id="earSort" class="sorting"> <i class="fa fa-fw fa-sort"></i></a></th>
						      <!--<th>DELETE ASIN</th>-->
						      <!--<th>&nbsp;</th>-->
						    </tr>
						  </thead>
						  <tbody id="rTable">
						  </tbody>
						</table>
            <ul class="d-flex pagination" style="float: right;">
              <li class="page-item" id="pp">
                <a id="prev" class="page-link">Previous</a>
              </li>
              <li class="page-item" id="np">
                <a id="next" class="page-link">Next</a>
              </li>
            </ul>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="static/js/jquery.min.js"></script>
  <script src="static/js/popper.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
  <script src="static/js/main.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
  <style>
    .dropdown {margin-right:10px;}
    .range_container {
      //display: flex;
      flex-direction: column;
      width: 80%;
      //margin: 35% auto;
    }

    .sliders_control {
      position: relative;
      min-height: 50px;
    }

    .form_control {
      position: relative;
      display: flex;
      justify-content: space-between;
      font-size: 24px;
      color: #635a5a;
    }

    input[type=range]::-webkit-slider-thumb {
      -webkit-appearance: none;
      pointer-events: all;
      width: 24px;
      height: 24px;
      background-color: #fff;
      border-radius: 50%;
      box-shadow: 0 0 0 1px #C6C6C6;
      cursor: pointer;
    }

    input[type=range]::-moz-range-thumb {
      -webkit-appearance: none;
      pointer-events: all;
      width: 24px;
      height: 24px;
      background-color: #fff;
      border-radius: 50%;
      box-shadow: 0 0 0 1px #C6C6C6;
      cursor: pointer;  
    }

    input[type=range]::-webkit-slider-thumb:hover {
      background: #f7f7f7;
    }

    input[type=range]::-webkit-slider-thumb:active {
      box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
      -webkit-box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
    }

    input[type="number"] {
      color: #8a8383;
      width: 50px;
      height: 30px;
      font-size: 20px;
      border: none;
    }

    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button {  
       opacity: 1;
    }

    input[type="range"] {
      -webkit-appearance: none; 
      appearance: none;
      height: 2px;
      width: 100%;
      position: absolute;
      background-color: #C6C6C6;
      pointer-events: none;
    }
    
    button {
      margin: 6px;
    }
    #fromSlider {
      height: 0;
      z-index: 1;
    }
  </style>
  <script>
    const countries = [
      "Afghanistan",
      "Albania",
      "Algeria",
      "American Samoa",
      "Andorra",
      "Angola",
      "Anguilla",
      "Antarctica",
      "Antigua and Barbuda",
      "Argentina",
      "Armenia",
      "Aruba",
      "Australia",
      "Austria",
      "Azerbaijan",
      "Bahamas",
      "Bahrain",
      "Bangladesh",
      "Barbados",
      "Belarus",
      "Belgium",
      "Belize",
      "Benin",
      "Bermuda",
      "Bhutan",
      "Bolivia",
      "Bosnia and Herzegovina",
      "Botswana",
      "Bouvet Island",
      "Brazil",
      "British Indian Ocean Territory",
      "Brunei Darussalam",
      "Bulgaria",
      "Burkina Faso",
      "Burundi",
      "Cambodia",
      "Cameroon",
      "Canada",
      "Cape Verde",
      "Cayman Islands",
      "Central African Republic",
      "Chad",
      "Chile",
      "China",
      "Christmas Island",
      "Cocos (Keeling) Islands",
      "Colombia",
      "Comoros",
      "Congo",
      "Congo, the Democratic Republic of the",
      "Cook Islands",
      "Costa Rica",
      "Cote d'Ivoire",
      "Croatia (Hrvatska)",
      "Cuba",
      "Cyprus",
      "Czech Republic",
      "Denmark",
      "Djibouti",
      "Dominica",
      "Dominican Republic",
      "East Timor",
      "Ecuador",
      "Egypt",
      "El Salvador",
      "Equatorial Guinea",
      "Eritrea",
      "Estonia",
      "Ethiopia",
      "Falkland Islands (Malvinas)",
      "Faroe Islands",
      "Fiji",
      "Finland",
      "France",
      "France, Metropolitan",
      "French Guiana",
      "French Polynesia",
      "French Southern Territories",
      "Gabon",
      "Gambia",
      "Georgia",
      "Germany",
      "Ghana",
      "Gibraltar",
      "Greece",
      "Greenland",
      "Grenada",
      "Guadeloupe",
      "Guam",
      "Guatemala",
      "Guinea",
      "Guinea-Bissau",
      "Guyana",
      "Haiti",
      "Heard and Mc Donald Islands",
      "Holy See (Vatican City State)",
      "Honduras",
      "Hong Kong",
      "Hungary",
      "Iceland",
      "India",
      "Indonesia",
      "Iran (Islamic Republic of)",
      "Iraq",
      "Ireland",
      "Israel",
      "Italy",
      "Jamaica",
      "Japan",
      "Jordan",
      "Kazakhstan",
      "Kenya",
      "Kiribati",
      "Korea, Democratic People's Republic of",
      "Korea, Republic of",
      "Kuwait",
      "Kyrgyzstan",
      "Lao People's Democratic Republic",
      "Latvia",
      "Lebanon",
      "Lesotho",
      "Liberia",
      "Libyan Arab Jamahiriya",
      "Liechtenstein",
      "Lithuania",
      "Luxembourg",
      "Macau",
      "Macedonia, The Former Yugoslav Republic of",
      "Madagascar",
      "Malawi",
      "Malaysia",
      "Maldives",
      "Mali",
      "Malta",
      "Marshall Islands",
      "Martinique",
      "Mauritania",
      "Mauritius",
      "Mayotte",
      "Mexico",
      "Micronesia, Federated States of",
      "Moldova, Republic of",
      "Monaco",
      "Mongolia",
      "Montserrat",
      "Morocco",
      "Mozambique",
      "Myanmar",
      "Namibia",
      "Nauru",
      "Nepal",
      "Netherlands",
      "Netherlands Antilles",
      "New Caledonia",
      "New Zealand",
      "Nicaragua",
      "Niger",
      "Nigeria",
      "Niue",
      "Norfolk Island",
      "Northern Mariana Islands",
      "Norway",
      "Oman",
      "Pakistan",
      "Palau",
      "Panama",
      "Papua New Guinea",
      "Paraguay",
      "Peru",
      "Philippines",
      "Pitcairn",
      "Poland",
      "Portugal",
      "Puerto Rico",
      "Qatar",
      "Reunion",
      "Romania",
      "Russian Federation",
      "Rwanda",
      "Saint Kitts and Nevis",
      "Saint LUCIA",
      "Saint Vincent and the Grenadines",
      "Samoa",
      "San Marino",
      "Sao Tome and Principe",
      "Saudi Arabia",
      "Senegal",
      "Seychelles",
      "Sierra Leone",
      "Singapore",
      "Slovakia (Slovak Republic)",
      "Slovenia",
      "Solomon Islands",
      "Somalia",
      "South Africa",
      "South Georgia and the South Sandwich Islands",
      "Spain",
      "Sri Lanka",
      "St. Helena",
      "St. Pierre and Miquelon",
      "Sudan",
      "Suriname",
      "Svalbard and Jan Mayen Islands",
      "Swaziland",
      "Sweden",
      "Switzerland",
      "Syrian Arab Republic",
      "Taiwan, Province of China",
      "Tajikistan",
      "Tanzania, United Republic of",
      "Thailand",
      "Togo",
      "Tokelau",
      "Tonga",
      "Trinidad and Tobago",
      "Tunisia",
      "Turkey",
      "Turkmenistan",
      "Turks and Caicos Islands",
      "Tuvalu",
      "Uganda",
      "Ukraine",
      "United Arab Emirates",
      "United Kingdom",
      "United States",
      "United States Minor Outlying Islands",
      "Uruguay",
      "Uzbekistan",
      "Vanuatu",
      "Venezuela",
      "Viet Nam",
      "Virgin Islands (British)",
      "Virgin Islands (U.S.)",
      "Wallis and Futuna Islands",
      "Western Sahara",
      "Yemen",
      "Yugoslavia",
      "Zambia",
      "Zimbabwe"
    ];
    const games = ['football', 'basketball', 'baseball', 'hockey', 'tennis', 'american-football', 'aussie-rules', 'badminton', 'beach-soccer', 'beach-volleyball', 'boxing', 'cricket', 'darts', 'esports', 'futsal', 'mma', 'pesapallo', 'rugby-league', 'rugby-union', 'table-tennis', 'volleyball', 'water-polo']
    
    //countryDB = '{{data}}'
    //console.log(111, countryDB)
    //$('#countryDD').html(createDropDownFromArr(countries))
    $('#leagueDD').html(createDropDownFromArr(games))
    
    filter()
    $('.dropdown').click(function(e){
      let a = $(this).find('ul')
      if (a.hasClass('show')){
        $(this).find('ul').removeClass('show')
      }else{
        $(this).find('ul').addClass('show')
      }
    })
    
    $('.dropdown-item').click(function(e){
      //console.log(getFilterData())
      let button = $(this).find('input') 
      if (button.attr('value') == 'allSelections'){
        //console.log($(this).closest('div'))
        if(button.is(':checked')){
          $(this).closest('div').find('input').prop('checked', true)
        }else{
          $(this).closest('div').find('input').prop('checked', false)
        }
      }
      filter()
    })
    
    function createDropDownFromArr(arr){
      cDD = `<li>
        <a class="dropdown-item" href="#">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="allSelections" />
            <label class="form-check-label" for="Checkme4">Select All</label>
          </div>
        </a>
      </li>
      <li><hr class="dropdown-divider" /></li>`
      arr.forEach(function(e){
        let html = `<li>
                      <a class="dropdown-item" href="#">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="${e}" />
                          <label class="form-check-label" for="Checkme1">${e}</label>
                        </div>
                      </a>
                    </li>`
        cDD = cDD + html
      })
      return cDD
    }

    function getCheckedFields(id){
      let k = []
      $(`#${id} li input:checked`).each(function(e, ele){
        if (ele.value != 'allSelections'){
          k.push(ele.value)
        }
      })
      return k
    }
    
    function getFilterData(){
      let cOUT = getCheckedFields('countryDD')
      let lOUT = getCheckedFields('leagueDD')
      let dfOUT = getCheckedFields('dfDD')
      return {'country':cOUT, 'league':lOUT, 'dataframe':dfOUT}
    }
    
    function filter(){
      let data = getFilterData()
      $.ajax({
        url: `/filter?page=${1}&country=${data['country']}&league=${data['league']}&df=${data['dataframe']}`,
        type: 'GET',
        success: function(res){
          tablemake(res.data)
          //disableEnablePagination(res.data.total)
          //console.log(res.data)
        }
      })
    }
    
    function tablemake(data){
      //console.log(436345377, data)
      if (data.length == 0){
        $('#rTable').html('')
        return
      }
        
      let k = 0
      data.forEach(function(i, index){
        //console.log("SAFEFM", i['races'])
        i['races'].forEach(function(l, indexi){
          //console.log(88888, l)
          k++
          tr = `
          <tr class="alert" role="alert" id="tr${1}">
            <td>
	            <label class="checkbox-wrap checkbox-primary">
                <span>${k}</span>
              </label>
            </td>
            <td>
	            <label class="checkbox-wrap checkbox-primary">
                <span>${l['raceURL'].split('/')[4]}</span>
              </label>
            </td>
            <td class="align-items-center">
	            <div class="pl-3">
		            <span>${l['raceURL']}</span>
	            </div>
            </td>
            <td class="align-items-center">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter1x2${k}">
                Show Odds
              </button>

              <!-- Modal -->
              <div class="modal fade" id="exampleModalCenter1x2${k}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">${l['raceURL'].split('/')[6]}</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      ${poptableStr(Object.entries(l['Odds']['1X2']))}
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td class="align-items-center">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenterAH05${k}">
                Odds 0.5
              </button>

              <!-- Modal -->
              <div class="modal fade" id="exampleModalCenterAH05${k}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">${l['raceURL'].split('/')[6]+'   '+'0.5'}</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      ${poptableStr(Object.entries(l['Odds']['Asian Handicap']), change='0.5')}
                    </div>
                  </div>
                </div>
              </div>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenterAH15${k}">
                Odds 1.5
              </button>

              <!-- Modal -->
              <div class="modal fade" id="exampleModalCenterAH15${k}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">${l['raceURL'].split('/')[6]+'   '+'1.5'}</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      ${poptableStr(Object.entries(l['Odds']['Asian Handicap']), change='1.5')}
                    </div>
                  </div>
                </div>
              </div>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenterAH25${k}">
                Odds 2.5
              </button>

              <!-- Modal -->
              <div class="modal fade" id="exampleModalCenterAH25${k}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">${l['raceURL'].split('/')[6]+'   '+'2.5'}</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      ${poptableStr(Object.entries(l['Odds']['Asian Handicap']), change='2.5')}
                    </div>
                  </div>
                </div>
              </div>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenterAH35${k}">
                Odds 3.5
              </button>

              <!-- Modal -->
              <div class="modal fade" id="exampleModalCenterAH35${k}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">${l['raceURL'].split('/')[6]+'   '+'3.5'}</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      ${poptableStr(Object.entries(l['Odds']['Asian Handicap']), change='3.5')}
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td class="align-items-center">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenterBTTS${k}">
                Show Odds
              </button>

              <!-- Modal -->
              <div class="modal fade" id="exampleModalCenterBTTS${k}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">${l['raceURL'].split('/')[6]}</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      ${poptableStr(Object.entries(l['Odds']['BTTS']))}
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td class="align-items-center">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenterOU05${k}">
                Odds 0.5
              </button>

              <!-- Modal -->
              <div class="modal fade" id="exampleModalCenterOU05${k}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">${l['raceURL'].split('/')[6]+'   '+'0.5'}</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      ${poptableStr(Object.entries(l['Odds']['Over/Under']), change='0.5')}
                    </div>
                  </div>
                </div>
              </div>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenterOU15${k}">
                Odds 1.5
              </button>

              <!-- Modal -->
              <div class="modal fade" id="exampleModalCenterOU15${k}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">${l['raceURL'].split('/')[6]+'   '+'1.5'}</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      ${poptableStr(Object.entries(l['Odds']['Over/Under']), change='1.5')}
                    </div>
                  </div>
                </div>
              </div>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenterOU25${k}">
                Odds 2.5
              </button>

              <!-- Modal -->
              <div class="modal fade" id="exampleModalCenterOU25${k}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">${l['raceURL'].split('/')[6]+'   '+'2.5'}</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      ${poptableStr(Object.entries(l['Odds']['Over/Under']), change='2.5')}
                    </div>
                  </div>
                </div>
              </div>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenterOU35${k}">
                Odds 3.5
              </button>

              <!-- Modal -->
              <div class="modal fade" id="exampleModalCenterOU35${k}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">${l['raceURL'].split('/')[6]+'   '+'3.5'}</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      ${poptableStr(Object.entries(l['Odds']['Over/Under']), change='3.5')}
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>`
          $('#rTable').append(tr)
        }) 
      })
	          
    }
    function popUpData(data){
      //console.log(5435242,data)
      let m = ''
      data.forEach(function(i){
        //console.log(33333, i[1])
        fulltime = i[1]['fulltime']
        if(!fulltime){fulltime = []}
        if (typeof fulltime == 'object'){
          fulltime = Object.values(fulltime)
        }
        fHalf = i[1]['firstHalf']
        if(!fHalf){fHalf = []}
        if (typeof fHalf == 'object'){
          fHalf = Object.values(fHalf)
        }
        sHalf = i[1]['secondHalf']
        if(!sHalf){sHalf = []}
        if (typeof sHalf == 'object'){
          sHalf = Object.values(sHalf)
        }
        if ((sHalf == undefined || sHalf.length == 0) && (fHalf == undefined || fHalf.length == 0) && (fulltime == undefined || fulltime.length == 0)){
          return
        }
        //console.log('fulltime', fulltime)
        t = `<tr class="alert" role="alert">
              <td>
                <label class="checkbox-wrap checkbox-primary">
                  <span>${i[0]}</span>
                </label>
              </td>
              <td>
                <label class="checkbox-wrap checkbox-primary">
                  <span>${fulltime.join(', ')}</span>
                </label>
              </td>
              <td>
                <label class="checkbox-wrap checkbox-primary">
                  <span>${fHalf.join(', ')}</span>
                </label>
              </td>
              <td>
                <label class="checkbox-wrap checkbox-primary">
                  <span>${sHalf.join(', ')}</span>
                </label>
              </td>
            </tr>`
          m = m + t
      })
      //console.log('completed')
      return m
    }
    function poptableStr(o, change=false){
      let b = ''
      if(change != false){
        let data = {'0.5':[], '1.5':[], '2.5':[], '3.5':[]}
        o.forEach(function(i){
          firstHalf = i[1]['firstHalf']
          fulltime = i[1]['fulltime']
          secondHalf = i[1]['secondHalf']
          data['0.5'].push([i[0], {'firstHalf':firstHalf['0.5'], "fulltime": fulltime['0.5'], 'secondHalf': secondHalf['0.5']}])
          data['1.5'].push([i[0], {'firstHalf':firstHalf['1.5'], "fulltime": fulltime['1.5'], 'secondHalf': secondHalf['1.5']}])
          data['2.5'].push([i[0], {'firstHalf':firstHalf['2.5'], "fulltime": fulltime['2.5'], 'secondHalf': secondHalf['2.5']}])
          data['3.5'].push([i[0], {'firstHalf':firstHalf['3.5'], "fulltime": fulltime['3.5'], 'secondHalf': secondHalf['3.5']}])
        })
        b = popUpData(data[change])
      }else{
        b = popUpData(o)
      }
      table = `
					<div class="table-wrap">
						<table class="table table-responsive-xl">
						  <thead>
						    <tr>
						    	<th>BET<a href="#" id="asinSort" class="sorting"><i class="fa fa-fw fa-sort"></i></a></th>
						      <th>FULLTIME<a href="#" id="statusSort" class="sorting"><i class="fa fa-fw fa-sort"></i></a></th>
						      <th>1st HALF<a href="#" id="lastScrapSort" class="sorting"><i class="fa fa-fw fa-sort"></i></a></th>
						      <th>2nd HALF<a href="#" id="scrapeSsort" class="sorting"> <i class="fa fa-fw fa-sort"></i></a></th>
						    </tr>
						  </thead>
						  <tbody class="popupTable">
                ${b}
						  </tbody>
						</table>
					</div>`
			return table
    }
    
    function controlFromInput(fromSlider, fromInput, toInput, controlSlider) {
        const [from, to] = getParsed(fromInput, toInput);
        fillSlider(fromInput, toInput, '#C6C6C6', '#25daa5', controlSlider);
        if (from > to) {
            fromSlider.value = to;
            fromInput.value = to;
        } else {
            fromSlider.value = from;
        }
    }
        
    function controlToInput(toSlider, fromInput, toInput, controlSlider) {
        const [from, to] = getParsed(fromInput, toInput);
        fillSlider(fromInput, toInput, '#C6C6C6', '#25daa5', controlSlider);
        setToggleAccessible(toInput);
        if (from <= to) {
            toSlider.value = to;
            toInput.value = to;
        } else {
            toInput.value = from;
        }
    }

    function controlFromSlider(fromSlider, toSlider, fromInput) {
      const [from, to] = getParsed(fromSlider, toSlider);
      fillSlider(fromSlider, toSlider, '#C6C6C6', '#25daa5', toSlider);
      if (from > to) {
        fromSlider.value = to;
        fromInput.value = to;
      } else {
        fromInput.value = from;
      }
    }

    function controlToSlider(fromSlider, toSlider, toInput) {
      const [from, to] = getParsed(fromSlider, toSlider);
      fillSlider(fromSlider, toSlider, '#C6C6C6', '#25daa5', toSlider);
      setToggleAccessible(toSlider);
      if (from <= to) {
        toSlider.value = to;
        toInput.value = to;
      } else {
        toInput.value = from;
        toSlider.value = from;
      }
    }

    function getParsed(currentFrom, currentTo) {
      const from = parseInt(currentFrom.value, 10);
      const to = parseInt(currentTo.value, 10);
      return [from, to];
    }

    function fillSlider(from, to, sliderColor, rangeColor, controlSlider) {
        const rangeDistance = to.max-to.min;
        const fromPosition = from.value - to.min;
        const toPosition = to.value - to.min;
        controlSlider.style.background = `linear-gradient(
          to right,
          ${sliderColor} 0%,
          ${sliderColor} ${(fromPosition)/(rangeDistance)*100}%,
          ${rangeColor} ${((fromPosition)/(rangeDistance))*100}%,
          ${rangeColor} ${(toPosition)/(rangeDistance)*100}%, 
          ${sliderColor} ${(toPosition)/(rangeDistance)*100}%, 
          ${sliderColor} 100%)`;
    }

    function setToggleAccessible(currentTarget) {
      const toSlider = document.querySelector('#toSlider');
      if (Number(currentTarget.value) <= 0 ) {
        toSlider.style.zIndex = 2;
      } else {
        toSlider.style.zIndex = 0;
      }
    }

    const fromSlider = document.querySelector('#fromSlider');
    const toSlider = document.querySelector('#toSlider');
    const fromInput = document.querySelector('#fromInput');
    const toInput = document.querySelector('#toInput');
    fillSlider(fromSlider, toSlider, '#C6C6C6', '#25daa5', toSlider);
    setToggleAccessible(toSlider);

    fromSlider.oninput = () => controlFromSlider(fromSlider, toSlider, fromInput);
    toSlider.oninput = () => controlToSlider(fromSlider, toSlider, toInput);
    fromInput.oninput = () => controlFromInput(fromSlider, fromInput, toInput, toSlider);
    toInput.oninput = () => controlToInput(toSlider, fromInput, toInput, toSlider);


  </script>
	</body>
</html>

