<!doctype html>
<html lang="en">
  <head>
  	<title>Table 05</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="static/css/style.css">
	
	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8 text-center mb-5">  
				  <!--<h2 class="heading-section">Add ASIN</h2>-->
				  <div class="row">
			      <div class="form-group" style="display: flex;flex-direction: row;">
			        <div class="dropdown">
                <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton1" data-mdb-toggle="dropdown" aria-expanded="false">DataFrame</button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="dfDD">
                    <li>
                      <a class="dropdown-item" href="#">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="allSelections" />
                          <label class="form-check-label" for="Checkme4">Select All</label>
                        </div>
                      </a>
                    </li>
                    <li><hr class="dropdown-divider" /></li>
                    <li>
                        <a class="dropdown-item" href="#">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Database" />
                                <label class="form-check-label" for="Checkme1">Database</label>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="TMatches" />
                                <label class="form-check-label" for="Checkme2">Today's Matches</label>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="UpEvents" />
                                <label class="form-check-label" for="Checkme3">Upcoming Events</label>
                            </div>
                        </a>
                    </li>
                </ul>
              </div>
			        <div class="dropdown">
                <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton2" data-mdb-toggle="dropdown" aria-expanded="false">Country Selection</button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="countryDD">
                    <li>
                        <a class="dropdown-item" href="#">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="allSelections" />
                                <label class="form-check-label" for="Checkme4">Select All</label>
                            </div>
                        </a>
                    </li>
                    <li><hr class="dropdown-divider" /></li>
<!--                    <li>
                      <div class="form-check">
                          <input class="form-control" autocomplete="off" type="text" id="searchCountry" />
                      </div>
                    </li>
                    <li><hr class="dropdown-divider" /></li>-->
                  {% for item in data.country %}
                    <li>
                      <a class="dropdown-item" href="#">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="{{item}}" />
                          <label class="form-check-label" for="Checkme1">{{item}}</label>
                        </div>
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
              <div class="dropdown">
                <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton3" data-mdb-toggle="dropdown" aria-expanded="false">League Selection</button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="leagueDD">
                  <li>
                      <a class="dropdown-item" href="#">
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="allSelections" />
                              <label class="form-check-label" for="Checkme4">Select All</label>
                          </div>
                      </a>
                  </li>
                  <li><hr class="dropdown-divider" /></li>
<!--                  <li>
                      <a class="dropdown-item" href="#">
                          <div class="form-check">
                              <input class="form-check-input" type="text" id="searchLeague" />
                              <label class="form-check-label" for="Checkme4">search</label>
                          </div>
                      </a>
                  </li>
                  <li><hr class="dropdown-divider" /></li>-->
                {% for item in data.league %}
                  <li>
                    <a class="dropdown-item" href="#">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="{{item}}" />
                        <label class="form-check-label" for="Checkme1">{{item}}</label>
                      </div>
                    </a>
                  </li>
                {% endfor %}
                </ul>
              </div>
              <div class="dropdown">
                <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton4" data-mdb-toggle="dropdown" aria-expanded="false">Season Selection</button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="seasonDD">
                  <li>
                      <a class="dropdown-item" href="#">
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="allSelections" />
                              <label class="form-check-label" for="Checkme4">Select All</label>
                          </div>
                      </a>
                  </li>
                  <li><hr class="dropdown-divider" /></li>
                {% for item in data.seasons %}
                  <li>
                    <a class="dropdown-item" href="#">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="{{item}}" />
                        <label class="form-check-label" for="Checkme1">{{item}}</label>
                      </div>
                    </a>
                  </li>
                {% endfor %}
              </ul>
              </div>
              <!--<div class="range_container">
                  <div class="sliders_control">
                      <input id="fromSlider" type="range" value="10" min="0" max="100"/>
                      <input id="toSlider" type="range" value="40" min="0" max="100"/>
                  </div>
                  <div class="">
                      <div class="">
                          <div class="form_control_container__time">Min</div>
                          <input class="form_control_container__time__input" type="number" id="fromInput" value="10" min="0" max="100"/>
                      </div>
                      <div class="form_control_container">
                          <div class="form_control_container__time">Max</div>
                          <input class="form_control_container__time__input" type="number" id="toInput" value="40" min="0" max="100"/>
                      </div>
                  </div>
              </div>-->
			      </div>
					</div>
					<!--<span class="">Submit</span>-->
				
				<br>
				<!--<form id="csvupload" method = "post" onsubmit="filter();return false;">
          <div class="row">
            <div class="col-md-2">
      				<input placeholder="min" type="text" class="form-control d-none" name="minOdd">
			      </div>
            <div class="col-md-2">
      				<input placeholder="input" type="text" class="form-control" name="maxOdd">
			      </div>
			      <div class="col-md-3">
			        <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButtonodd" data-mdb-toggle="dropdown" aria-expanded="false">Odds compare</button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="oddsDD">
                  <li>
                    <a class="dropdown-item" href="#">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" value="between" id="bw" name="oddsc" />
                        <label class="form-check-label" for="Checkme4"> Between </label>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="oddsc" value="<"/>
                        <label class="form-check-label" for="Checkme4"> < </label>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" value=">" name="oddsc"/>
                        <label class="form-check-label" for="Checkme4"> > </label>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" value="<=" name="oddsc"/>
                        <label class="form-check-label" for="Checkme4"> <= </label>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" value=">=" name="oddsc"/>
                        <label class="form-check-label" for="Checkme4"> >= </label>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-2">
			        <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButtonodd" data-mdb-toggle="dropdown" aria-expanded="false">Time</button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="oddsDD">
                  <li>
                    <a class="dropdown-item" href="#">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" value="full" name="oddsT"/>
                        <label class="form-check-label" for="Checkme4"> Full Time </label>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" value="1" name="oddsT"/>
                        <label class="form-check-label" for="Checkme4"> First Half </label>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" value="2" name="oddsT"/>
                        <label class="form-check-label" for="Checkme4"> Second Half </label>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-2">
              <button type="submit" class="btn btn-sm btn-primary">Submit</button>
            </div>
          </div>
          </form> 
-->				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
				  <button id="results" class="btn btn-sm btn-success">START SCRAPPING</button>
				  <button id="tResults" class="btn btn-sm btn-success">START TODAY MATCHS SCRAPPING</button>
					<div class="table-wrap">
						<table class="table table-responsive-xl" >
						  <thead>
						    <tr>
						    	<th class="text-dark">SL. No<!--<a href="#" id="slSort" class="sorting"><i class="fa fa-fw fa-sort"></i></a>--> </th>
						    	<th class="text-dark">Country<!--<a href="#" id="asinSort" class="sorting"><i class="fa fa-fw fa-sort"></i></a>--></th>
						      <th class="text-dark">Race URL<!--<a href="#" id="statusSort" class="sorting"><i class="fa fa-fw fa-sort"></i></a>--></th>
						      <th class="text-dark">1X2<!--<a href="#" id="lastScrapSort" class="sorting"><i class="fa fa-fw fa-sort"></i></a>--></th>
						      <th class="text-dark">Asian Handicap<!--<a href="#" id="scrapeSsort" class="sorting"> <i class="fa fa-fw fa-sort"></i></a>--></th>
						      <th class="text-dark">BTTS<!--<a href="#" id="deliverySort" class="sorting"> <i class="fa fa-fw fa-sort"></i></a>--></th>
						      <th class="text-dark">Over/Under<!--<a href="#" id="earSort" class="sorting"> <i class="fa fa-fw fa-sort"></i></a>--></th>
						      <!--<th>DELETE ASIN</th>-->
						      <!--<th>&nbsp;</th>-->
						    </tr>
						  </thead>
						  <tbody id="rTable">
						  </tbody>
						</table>
<!--            <ul class="d-flex pagination" style="float: right;">
              <li class="page-item" id="pp">
                <a id="prev" class="page-link">Previous</a>
              </li>
              <li class="page-item" id="np">
                <a id="next" class="page-link">Next</a>
              </li>
            </ul>-->
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="static/js/jquery.min.js"></script>
  <script src="static/js/popper.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
  <script src="static/js/main.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <style>
    .dropdown {margin-right:10px;}    
    button {
      margin: 1px;
    }
    .dropdown-menu {
      max-height: 280px;
      overflow-y: auto;
    }
  </style>
  <script>
    filter()
    $('.dropdown').click(function(e){
      let a = $(this).find('ul')
      if (a.hasClass('show')){
        $(this).find('ul').removeClass('show')
      }else{
        $(this).find('ul').addClass('show')
      }
    })
    
    $('[name="oddsc"]').click(function(e){
      if($(this).val() == 'between'){
        $('[name="minOdd"]').removeClass('d-none')
        $('[name="maxOdd"]').attr('placeholder', 'max')
      }else if(!$('[name="minOdd"]').hasClass('d-none')){
        $('[name="minOdd"]').addClass('d-none')
        $('[name="maxOdd"]').attr('placeholder', 'input')
      }
    })
    
    $('.dropdown-item').click(function(e){
      //console.log(getFilterData())
      let button = $(this).find('input') 
      if (button.attr('value') == 'allSelections'){
        //console.log($(this).closest('div'))
        if(button.is(':checked')){
          $(this).closest('div').find('input').prop('checked', true)
        }else{
          $(this).closest('div').find('input').prop('checked', false)
        }
      }
      filter()
    })
    
    $('.btn.btn-sm.btn-success').click(function(e){
      $.ajax({
        url: `/launchScrap?script=${$(this).attr('id')}`,
        type: 'GET',
        success: function(res){
          Swal.fire({text:res.data, icon:"success",buttonsStyling:!1,confirmButtonText:"Ok, got it!",customClass:{confirmButton:"btn btn-primary"}})
        }
      })
      //console.log($(this).attr('id'))
    })
    
    function createDropDownFromArr(arr){
      cDD = `<li>
        <a class="dropdown-item" href="#">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="allSelections" />
            <label class="form-check-label" for="Checkme4">Select All</label>
          </div>
        </a>
      </li>
      <li><hr class="dropdown-divider" /></li>`
      arr.forEach(function(e){
        let html = `<li>
                      <a class="dropdown-item" href="#">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="${e}" />
                          <label class="form-check-label" for="Checkme1">${e}</label>
                        </div>
                      </a>
                    </li>`
        cDD = cDD + html
      })
      return cDD
    }

    function getCheckedFields(id){
      let k = []
      $(`#${id} li input:checked`).each(function(e, ele){
        if (ele.value != 'allSelections'){
          k.push(ele.value)
        }
      })
      return k
    }
    
    function getFilterData(){
      let cOUT = getCheckedFields('countryDD')
      let lOUT = getCheckedFields('leagueDD')
      let dfOUT = getCheckedFields('dfDD')
      let seasonOUT = getCheckedFields('seasonDD')
      let oddsComp = $('[name="oddsc"]:checked').val()
      if(oddsComp == undefined){
        oddsComp = ''
      }
      let oddsTime = $('[name="oddsT"]:checked').val()
      if(oddsTime == undefined){
        oddsTime = ''
      }
      let minOdds = $('[name="minOdd"]').val()
      let maxOdds = $('[name="maxOdd"]').val()
      

      return {'country':cOUT, 'league':lOUT, 'dataframe':dfOUT, 'season':seasonOUT, 'oddsCompare':oddsComp, "oddsTime":oddsTime, "minOdds":minOdds, "maxOdds":maxOdds}
    }
    
    function filter(){
      let data = getFilterData()
      $.ajax({
        url: `/filter?page=${1}&country=${data['country']}&league=${data['league']}&df=${data['dataframe']}&season=${data['season']}&oddsCompare=${data['oddsCompare']}&oddsTime=${data['oddsTime']}&minOdds=${data['minOdds']}&maxOdds=${data['maxOdds']}`,
        type: 'GET',
        success: function(res){
          tablemake(res.data)
          //disableEnablePagination(res.data.total)
          //console.log(res.data)
        }
      })
    }
    
    function tablemake(data){
      $('#rTable').html('')        
      let k = 0
      data.forEach(function(i, index){
        //console.log("SAFEFM", i['races'], Array.isArray(i['races']))
        if (!Array.isArray(i['races'])){
          i['races'] = [i['races']]
        }
        i['races'].forEach(function(l, indexi){
          //l = l[0]
          //if (l == undefined){
          //  return
          //}
          //console.log(88888, Object.keys(l))
          k++
          tr = `
          <tr class="alert" role="alert" id="tr${1}">
            <td>
	            <label class="checkbox-wrap">
                <span class="text-success">${k}</span>
              </label>
            </td>
            <td>
	            <label class="checkbox-wrap">
                <span class="text-secondary">${l['raceURL'].split('/')[4]}</span>
              </label>
            </td>
            <td class="align-items-center">
	            <div class="pl-3">
		            <span><a href="${l['raceURL']}">${l['raceURL']}</a></span>
	            </div>
            </td>
            <td class="align-items-center">
              <button type="button" class="btn btn-secondary  " data-toggle="modal" data-target="#exampleModalCenter1x2${k}">
                Show Odds
              </button>

              <!-- Modal -->
              <div class="modal fade" id="exampleModalCenter1x2${k}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">${l['raceURL'].split('/')[6]}</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      ${poptableStr(Object.entries(l['Odds']['1X2']))}
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td class="align-items-center">
              <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalCenterAH05${k}">
                Odds 0.5
              </button>

              <!-- Modal -->
              <div class="modal fade" id="exampleModalCenterAH05${k}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">${l['raceURL'].split('/')[6]+'   '+'0.5'}</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      ${poptableStr(Object.entries(l['Odds']['Asian Handicap']), change='0.5')}
                    </div>
                  </div>
                </div>
              </div>
              <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalCenterAH15${k}">
                Odds 1.5
              </button>

              <!-- Modal -->
              <div class="modal fade" id="exampleModalCenterAH15${k}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">${l['raceURL'].split('/')[6]+'   '+'1.5'}</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      ${poptableStr(Object.entries(l['Odds']['Asian Handicap']), change='1.5')}
                    </div>
                  </div>
                </div>
              </div>
              <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalCenterAH25${k}">
                Odds 2.5
              </button>

              <!-- Modal -->
              <div class="modal fade" id="exampleModalCenterAH25${k}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">${l['raceURL'].split('/')[6]+'   '+'2.5'}</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      ${poptableStr(Object.entries(l['Odds']['Asian Handicap']), change='2.5')}
                    </div>
                  </div>
                </div>
              </div>
              <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalCenterAH35${k}">
                Odds 3.5
              </button>

              <!-- Modal -->
              <div class="modal fade" id="exampleModalCenterAH35${k}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">${l['raceURL'].split('/')[6]+'   '+'3.5'}</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      ${poptableStr(Object.entries(l['Odds']['Asian Handicap']), change='3.5')}
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td class="align-items-center">
              <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalCenterBTTS${k}">
                Show Odds
              </button>

              <!-- Modal -->
              <div class="modal fade" id="exampleModalCenterBTTS${k}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">${l['raceURL'].split('/')[6]}</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      ${poptableStr(Object.entries(l['Odds']['BTTS']))}
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td class="align-items-center">
              <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalCenterOU05${k}">
                Odds 0.5
              </button>

              <!-- Modal -->
              <div class="modal fade" id="exampleModalCenterOU05${k}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">${l['raceURL'].split('/')[6]+'   '+'0.5'}</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      ${poptableStr(Object.entries(l['Odds']['Over/Under']), change='0.5')}
                    </div>
                  </div>
                </div>
              </div>
              <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalCenterOU15${k}">
                Odds 1.5
              </button>

              <!-- Modal -->
              <div class="modal fade" id="exampleModalCenterOU15${k}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">${l['raceURL'].split('/')[6]+'   '+'1.5'}</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      ${poptableStr(Object.entries(l['Odds']['Over/Under']), change='1.5')}
                    </div>
                  </div>
                </div>
              </div>
              <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalCenterOU25${k}">
                Odds 2.5
              </button>

              <!-- Modal -->
              <div class="modal fade" id="exampleModalCenterOU25${k}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">${l['raceURL'].split('/')[6]+'   '+'2.5'}</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      ${poptableStr(Object.entries(l['Odds']['Over/Under']), change='2.5')}
                    </div>
                  </div>
                </div>
              </div>
              <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalCenterOU35${k}">
                Odds 3.5
              </button>

              <!-- Modal -->
              <div class="modal fade" id="exampleModalCenterOU35${k}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">${l['raceURL'].split('/')[6]+'   '+'3.5'}</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      ${poptableStr(Object.entries(l['Odds']['Over/Under']), change='3.5')}
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>`
          $('#rTable').append(tr)
        }) 
      })
	          
    }
    function popUpData(data){
      //console.log(5435242,data)
      let m = ''
      data.forEach(function(i){
        //console.log(33333, i[1])
        fulltime = i[1]['fulltime']
        if(!fulltime){fulltime = []}
        if (typeof fulltime == 'object'){
          fulltime = Object.values(fulltime)
        }
        fHalf = i[1]['firstHalf']
        if(!fHalf){fHalf = []}
        if (typeof fHalf == 'object'){
          fHalf = Object.values(fHalf)
        }
        sHalf = i[1]['secondHalf']
        if(!sHalf){sHalf = []}
        if (typeof sHalf == 'object'){
          sHalf = Object.values(sHalf)
        }
        if ((sHalf == undefined || sHalf.length == 0) && (fHalf == undefined || fHalf.length == 0) && (fulltime == undefined || fulltime.length == 0)){
          return
        }
        //console.log('fulltime', fulltime)
        t = `<tr class="alert" role="alert">
              <td>
                <label class="checkbox-wrap checkbox-primary">
                  <span>${i[0]}</span>
                </label>
              </td>
              <td>
                <label class="checkbox-wrap checkbox-primary">
                  <span>${fulltime.join(', ')}</span>
                </label>
              </td>
              <td>
                <label class="checkbox-wrap checkbox-primary">
                  <span>${fHalf.join(', ')}</span>
                </label>
              </td>
              <td>
                <label class="checkbox-wrap checkbox-primary">
                  <span>${sHalf.join(', ')}</span>
                </label>
              </td>
            </tr>`
          m = m + t
      })
      //console.log('completed')
      return m
    }
    function poptableStr(o, change=false){
      let b = ''
      if(change != false){
        let data = {'0.5':[], '1.5':[], '2.5':[], '3.5':[]}
        o.forEach(function(i){
          firstHalf = i[1]['firstHalf']
          fulltime = i[1]['fulltime']
          secondHalf = i[1]['secondHalf']
          data['0.5'].push([i[0], {'firstHalf':firstHalf['0.5'], "fulltime": fulltime['0.5'], 'secondHalf': secondHalf['0.5']}])
          data['1.5'].push([i[0], {'firstHalf':firstHalf['1.5'], "fulltime": fulltime['1.5'], 'secondHalf': secondHalf['1.5']}])
          data['2.5'].push([i[0], {'firstHalf':firstHalf['2.5'], "fulltime": fulltime['2.5'], 'secondHalf': secondHalf['2.5']}])
          data['3.5'].push([i[0], {'firstHalf':firstHalf['3.5'], "fulltime": fulltime['3.5'], 'secondHalf': secondHalf['3.5']}])
        })
        b = popUpData(data[change])
      }else{
        b = popUpData(o)
      }
      table = `
					<div class="table-wrap">
						<table class="table table-responsive-xl">
						  <thead>
						    <tr>
						    	<th>BET<a href="#" id="asinSort" class="sorting"><i class="fa fa-fw fa-sort"></i></a></th>
						      <th>FULLTIME<a href="#" id="statusSort" class="sorting"><i class="fa fa-fw fa-sort"></i></a></th>
						      <th>1st HALF<a href="#" id="lastScrapSort" class="sorting"><i class="fa fa-fw fa-sort"></i></a></th>
						      <th>2nd HALF<a href="#" id="scrapeSsort" class="sorting"> <i class="fa fa-fw fa-sort"></i></a></th>
						    </tr>
						  </thead>
						  <tbody class="popupTable">
                ${b}
						  </tbody>
						</table>
					</div>`
			return table
    }
  </script>
	</body>
</html>

